---
---
@import "{{ site.theme }}";


body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 5px solid #000000;
}
@media only screen and (min-width: 48em) {
  body {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.navigation-wrapper {
  text-align: center;
  *zoom: 1;
}
.navigation-wrapper:before,
.navigation-wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.navigation-wrapper:after {
  clear: both;
}
.navigation-wrapper ul {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 50px;
  padding: 4px 20px;
  background-color: #000000;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  *zoom: 1;
}
.navigation-wrapper ul:before,
.navigation-wrapper ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.navigation-wrapper ul:after {
  clear: both;
}
.navigation-wrapper li {
  display: block;
  float: left;
  list-style: none;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #ffffff;
}
.navigation-wrapper li a:hover {
  -webkit-box-shadow: inset 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 1px #ffffff;
  box-shadow: inset 0 0 1px #ffffff;
}
.navigation-wrapper a {
  display: block;
  padding: 6px 10px;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navigation-wrapper a:hover {
  background-color: #1a1a1a;
}
#site-nav {
  z-index: 9000;
  /*display: none;*/
}
@media only screen and (min-width: 48em) {
  #site-nav {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  }
}
@media only screen and (min-width: 48em) {
  #site-nav.closed {
    display: block;
  }
}
#site-nav.opened {
  display: block;
  max-height: 100%;
}
#site-nav.opened li {
  float: none;
}
@media only screen and (min-width: 48em) {
  #site-nav.opened li {
    float: left;
  }
}
.no-js #site-nav {
  display: block;
}
#nav-toggle {
  z-index: 9999;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 4px 20px;
  background-color: #000000;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
@media only screen and (min-width: 48em) {
  #nav-toggle {
    display: none;
  }
}
.masthead {
  margin-top: 40px;
  *zoom: 1;
}
.masthead:before,
.masthead:after {
  display: table;
  content: "";
  line-height: 0;
}
.masthead:after {
  clear: both;
}
@media only screen and (min-width: 48em) {
  .masthead {
    margin-top: 0;
  }
}
.masthead .wrap {
  text-align: center;
  max-width: 27.5em;
  padding-right: 20px;
  padding-left: 20px;
}
@media only screen and (min-width: 48em) {
  .masthead .wrap {
    max-width: 45.5em;
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media only screen and (min-width: 62.5em) {
  .masthead .wrap {
    max-width: 60em;
  }
}
.site-logo img {
  width: 100px;
  height: 100px;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .05s;
  -moz-animation-delay: .05s;
  -o-animation-delay: .05s;
  animation-delay: .05s;
  border: 4px solid #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
@media only screen and (min-width: 48em) {
  .site-logo img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
  }
}
@media only screen and (min-width: 62.5em) {
  .site-logo img {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  }
}
.site-title {
  margin-bottom: 0;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .75s;
  -moz-animation-delay: .75s;
  -o-animation-delay: .75s;
  animation-delay: .75s;
  float: none;
  font-weight: bold;
}
.site-title a {
  color: #000000;
}
.site-description {
  margin-top: 0;
  font-family: 'volkhov', serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
@media only screen and (min-width: 48em) {
  .site-description {
    font-size: 20px;
    font-size: 1.25rem;
  }
}


.post-title {
    font-size: 4.25rem;
    text-align: center;
    font-family: volkhov,serif;
    font-style: italic;
}


a.post-link {
    font-size: 1.25rem;
    color: #222;
    text-decoration: none;
}
